BR2_x86_i486=y
BR2_DL_DIR="/storage/dev/beagleboard/buildroot-dl"
BR2_CCACHE=y
BR2_CCACHE_DIR="/var/cache/ccache/buildroot-bifferboard-ccache"
BR2_OPTIMIZE_2=y
BR2_GLOBAL_PATCH_DIR="board/bifferos/bifferboard/patches"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_REALLY_OLD=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
# BR2_UCLIBC_INSTALL_UTILS is not set
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_GCCGO=y
BR2_TARGET_OPTIMIZATION="-march=i486 -mtune=i486"
BR2_TOOLCHAIN_GOLD_LINKER=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
# BR2_TARGET_GENERIC_GETTY is not set
BR2_SYSTEM_DHCP="enp0s8"
BR2_ROOTFS_OVERLAY="board/bifferos/bifferboard/rootfs_overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/bifferos/bifferboard/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="file:///storage/dev/bifferboard/files/linux-2.6.37.6-openwrt-bifferboard.tar.xz"
BR2_LINUX_KERNEL_PATCH="board/bifferos/bifferboard/patches/linux"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/bifferos/bifferboard/linux.config"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_PACKAGE_BUSYBOX_CONFIG="board/bifferos/bifferboard/busybox.config"
BR2_PACKAGE_GHOSTSCRIPT=y
BR2_PACKAGE_BB_ENV=y
BR2_PACKAGE_CA_CERTIFICATES=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_CUPS=y
BR2_PACKAGE_CUPS_FILTERS=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_MENDER=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_SIZE="200M"
BR2_PACKAGE_HOST_MENDER_ARTIFACT=y
BR2_PACKAGE_HOST_QEMU=y
BR2_PACKAGE_HOST_QEMU_SYSTEM_MODE=y
BR2_PACKAGE_HOST_QEMU_LINUX_USER_MODE=y
